.vs/
mini-FSysten.VC.VC.opendb
ipch/
Debug/
x64/
mini-FSysten/x64
mini-FSysten.VC.db
mini-FSysten/mini-FSysten.vcxproj.filters
mini-FSysten/mini-FSysten.vcxproj.user
mini-FSysten/mini-FSysten.vcxproj
mini-FSysten/Debug/
